<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>菜单</title>
    <style>
        .center {
            text-align: center;
            margin-top: 20%;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        ul {
            padding: 0;
            list-style-type: none;
        }
        li {
            display: inline;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="center">
        <h1>菜单</h1>
        <form method='POST'>
            {% comment %} {% csrf_token %} {% endcomment %}
            <ul>
                <li><a href="{% url 'patient_info_entry' %}">病人信息录入</a></li>
                <li><a href="{% url 'patient_info_view' %}">病人信息查看</a></li>
                <li><a href="{% url 'logout' %}">登出</a></li>
            </ul>
        </form>
    </div>
</body>
</html>
